[Desktop Entry]
Name=Quasi Deepin Dark
X-KDE-PluginInfo-Author=Giacomo Barazzetti
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=giacomosrv@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=CC-BY-SA
X-KDE-PluginInfo-Name=org.caig.quasideepindark
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=https://store.kde.org/p/1243751/
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1243748,kns://aurorae.knsrc/api.kde-look.org/1243749,kns://icons.knsrc/api.kde-look.org/1257656,kns://plasma-themes.knsrc/api.kde-look.org/1231459
